* {
  box-sizing: border-box;
  font-family: $ff-ss;
  line-height: 1.3;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.75;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

section {
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  z-index: 2;
  position: relative;
}

.decoration {
  width: 100%;
}

.skip-link {
  position: absolute;
  top: 0;
  left: -99999px;
  
  padding: 10px;

  background: #fff;

  &:focus {
      left: 0;
  }
}

.with-logo::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.1em;  

  background-image: url(../images/chilliestate_sygnet.svg);
  background-size: contain;
  background-repeat: no-repeat;

}

.with-logo--white::before {
  background-image: url(../images/chilliestate_sygnet_biale.svg);
}