* {
  box-sizing: border-box;
  font-family: $ff-ss;
}

a {
  text-decoration: none;
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.75;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.skip-link {
  position: absolute;
  top: 0;
  left: -99999px;
  
  padding: 10px;

  background: #fff;

  &:focus {
      left: 0;
  }
}