.nav {
  display: flex;
  align-items: baseline;
	padding: 15px 20px;

  &__logo {
    max-width: 150px;
    height: auto;
  }

  &__list {
		margin-left: auto;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    color: $primary;
    font-weight: $fw-b;
  }
}
