@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap&subset=latin-ext');

$primary: rgb(46, 54, 142);
$secondary: rgb(13, 114, 185);

$ff-ss: 'Lato', sans-serif;

$fw-r: 400;
$fw-b: 700;