.kontakt {
	text-align: center;
	color: $primary;

	p {
		margin-top: 30px;
		}

	a {
		display: block;
		margin-top: 10px;

		font-size: 24px;

		color: $primary;
	}

	.decoration {
		margin-bottom: 50px;
	}
}

.site-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

  position: relative;
	padding-top: 50px;

	text-align: center;
	line-height: 1.4;

	color: $primary;

	&__logo {
		max-width: 150px;
  }
  
  &__decoration {
    width: 100%;
  }
}
