.kontakt {
  text-align: center;
  color: $primary;

  p {
    margin: 0;
  }

  a {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;

    font-size: 24px;

    color: $primary;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 50px 20px;

  color: $primary;

  img {
    max-width: 150px;
  }
}