.hero {
	display: flex;
	align-items: center;
	padding-top: 10px;

	color: $primary;

	@media (max-width: 650px) {
		padding-top: 50px;
		flex-direction: column;
		text-align: center;

		&__image {
			max-width: 80vw !important;
			width: 350px;
			margin: 40px auto -20px auto;


			z-index: -1;
		}
	}

	&__content {
		p {
			margin-bottom: 30px;
		}
		a {
			color: #fff;
			background-color: $primary;
			font-weight: $fw-b;
		}
	}

	&__image {
		max-width: 350px;
		margin-left: auto;
	}
}
