.o-nas {
	background-color: $primary;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 50px;

	&__container {
		display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;

		max-width: 760px;
		margin: 0 auto;

		text-align: center;
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&:before {
		content: url(../images/o-nas-before.svg);
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
		width: 101%;
	}
}
