.o-nas {
	background-color: $primary;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 50px;

	@media (max-width: 650px) {
		padding-top: 70px;
	}

	.decoration {
		position: absolute;
    top: 0;
    transform: translateY(-50%);
	}

	&__container {
		display: flex;
		flex-direction: column;
    justify-content: center;
    align-items: center;

		max-width: 760px;
		margin: 0 auto;

		text-align: center;
	}

	&__image {
		width: 100%;
		height: auto;
	}
}
