.realizacje {
  background-color: $secondary;
  color: #fff;

  .heading {
    text-align: center;
  }

  &:before {
    content: url(../images/projekty-before.svg);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.projekty {
  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    &:nth-child(2n) {
      .projekty__gallery {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }
  }
}